<div id="oh-no" class="error">damn</div>


<div class="input-container">
  <label for="buy-sell" id="instruction-text-1">I want to

  <select id="buy-sell">
    <option value="buy">buy</option>
    <option value="sell">sell</option>
  </select>
  <select id="currency">
    <option value="BTC">Bitcoins</option>
    <option value="USD">USD</option>
  </select>
  </label>
  <span>with</span>
</div>

<div id="amt-container" class="input-container">
  <input id="amt" type="text" placeholder="Amount" class="full" />
  <span id="opp-currency">USD</span>
</div>

<div class="btn-container cf">
  <a id="quote-btn" href="#" class="btn pull-right">Quote me!</a>
</div>

<p id="progress"></p>

<div id="quote-container">
  <p>The current price is <strong><span id="price-to"></span> <span class="currency-to"></span></strong> (including <strong><span id="commission"></span></strong> <span class="currency-to"></span> for commission) for your <strong><span id="price-from"></span> <span id="currency-from"></span></strong>.</p>
</div>