<div id="oh-no" class="error">damn</div>


<div class="input-container">
  <label for="buy-sell" id="instruction-text-1">I want to

  <select id="buy-sell">
    <option value="buy">buy</option>
    <option value="sell">sell</option>
  </select>
  <select id="currency">
    <option value="BTC">Bitcoins</option>
    <option value="USD">USD</option>
  </select>
  </label>
  <span>with/for</span>
  <span id="opp-currency">USD</span>
</div>

<div id="amt-container" class="input-container">
  <label for="amt">I have:</label>
  <input id="amt" type="text" placeholder="Amount" class="full" />
</div>

<div class="btn-container cf">
  <a id="quote-btn" href="#" class="btn pull-right">Quote me!</a>
</div>

<p id="progress"></p>

<div id="quote-container">
  <p id="quote-text"></p>
</div>